@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
    height:100%;
    min-height: 100%;
    padding:0;
    margin:0;
    overflow: scroll;
    background-color: black;
    display:flex;
    flex-direction: column
}
#root{
    height:100%;
    min-height:100%;
    width:100%;
    padding:0;
    margin:0;
    overflow:auto;
    background-color: red;
    display:flex;
    flex-direction: column;
}

body{
    height:100%;
    min-height:100%;
    background-color: yellow;
    padding:0;
    overflow: scroll;
    margin:0;
    display:block;
    flex-direction: column;
}
